# 강남3구 범죄현황 데이터 개요 및 읽어오기

- crime_raw_data : 서울시 범죄 로우 데이터
- crime_station : 경찰서의 구별 위치 추가 및 pivot_table 적용
- crime_anal_station = crime_station의 인덱스를 '구별'로 나눈것
- crime_anal_gu : 검거율 구하고, 검거 컬럼 삭제
- [최종결과]crime_anal_norm : 검거율 정규화
- result_CCTV : 이전 프로젝트의 인구수 및 CCTV수 추가

In [1]:
import pandas as pd
import numpy as np
# 데이터 읽어오기 "../data/02. crime_in_Seoul.csv" ## 천단위 구분, 인코딩 euc-kr
crime_raw_data = pd.read_csv("../data/02. crime_in_Seoul.csv", thousands="," , encoding="euc-kr")

In [2]:
#info 확인하여 쓰레기 값 삭제
crime_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65534 entries, 0 to 65533
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구분      310 non-null    object
 1   죄종      310 non-null    object
 2   발생검거    310 non-null    object
 3   건수      310 non-null    float64
dtypes: float64(1), object(3)
memory usage: 2.0+ MB

In [3]:
crime_raw_data = crime_raw_data[ crime_raw_data["구분"].notnull() ] 
crime_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 310 entries, 0 to 309
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구분      310 non-null    object
 1   죄종      310 non-null    object
 2   발생검거    310 non-null    object
 3   건수      310 non-null    float64
dtypes: float64(1), object(3)
memory usage: 12.1+ KB

---

## (1) pivot_table 연습

In [4]:
# 데이터를 읽고 데이터 프레임에 담기 "../data/02. sales-funnel.xlsx"
# index를 "Name"으로 설정
# 멀티 index
# values,columns, aggfunc, fill_value
df = pd.read_excel("../data/02. sales-funnel.xlsx")
df.head()

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won

In [5]:
pd.pivot_table(
    df,
    index=["Name","Rep","Manager"],
    columns = "Product",
    values = "Price",
    aggfunc = np.sum,
    fill_value = 0
)

,,Product,CPU,Maintenance,Monitor,Software
Name,Rep,Manager,,,,
Barton LLC,John Smith,Debra Henley,35000,0,0,0
"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,35000,0,0,0
Herman LLC,Cedric Moss,Fred Anderson,65000,0,0,0
Jerde-Hilpert,John Smith,Debra Henley,0,5000,0,0
"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,0,7000,0,0
Keeling LLC,Wendy Yule,Fred Anderson,100000,0,0,0
Kiehn-Spinka,Daniel Hilton,Debra Henley,65000,0,0,0
Koepp Ltd,Wendy Yule,Fred Anderson,65000,0,5000,0
Kulas Inc,Daniel Hilton,Debra Henley,40000,0,0,10000
Purdy-Kunde,Cedric Moss,Fred Anderson,30000,0,0,0
Stokes LLC,Cedric Moss,Fred Anderson,0,5000,0,10000
Trantow-Barrows,Craig Booker,Debra Henley,30000,5000,0,10000

---

## (2) 서울시 범죄 현황 데이터 정리

In [6]:
# 데이터 확인 crime_raw_data
# crime_station : 구분을 index로 columns를 죄종, 발생검거 , aggfunc 를 합으로
# 필요없는 0,1번째 row 제거  
crime_raw_data.head()
crime_station = pd.pivot_table(
    crime_raw_data,
    index = "구분",
    columns = ["죄종","발생검거"],
    aggfunc = np.sum
)
crime_station.columns = crime_station.columns.droplevel(0)
crime_station.head()

죄종       강간           강도          살인           절도              폭력
발생검거     검거     발생    검거    발생    검거   발생      검거      발생      검거      발생
구분
강남    269.0  339.0  26.0  24.0   3.0  3.0  1129.0  2438.0  2096.0  2336.0
강동    152.0  160.0  13.0  14.0   5.0  4.0   902.0  1754.0  2201.0  2530.0
강북    159.0  217.0   4.0   5.0   6.0  7.0   672.0  1222.0  2482.0  2778.0
강서    239.0  275.0  10.0  10.0  10.0  9.0  1070.0  1952.0  2768.0  3204.0
관악    264.0  322.0  10.0  12.0   7.0  6.0   937.0  2103.0  2707.0  3235.0

## (3) 구글 맵 API 가져오기

In [7]:
import googlemaps
gmaps_key = "AIzaSyBPE0usFZGKFPMOJajIcL2rL__I9A-hcpY"
gmaps = googlemaps.Client(key=gmaps_key)

In [8]:
# 영등포경찰서의 정보를 한글로 확인
# 위도,경도 확인
# 구이름 index로 접근
tmp = gmaps.geocode("영등포경찰서", language="ko")
tmp[0]["geometry"]["location"]["lat"]
tmp[0]["geometry"]["location"]["lng"]
addList = tmp[0]["formatted_address"].split()
gu = addList[2]
gu

'영등포구'

In [9]:
# crime_station에 구별,lat,lng 컬럼 nan값으로 생성
# iterrows() 사용하여 컬럼에 해당값 넣기
crime_station["구별"]=np.nan
crime_station["lat"]=np.nan
crime_station["lng"]=np.nan
crime_station.head()

for idx, val in  crime_station.iterrows():
    station = "서울"+idx+"경찰서"
    addr = gmaps.geocode(station, language="ko")
    crime_station.loc[idx,"구별"] = (addr[0]["formatted_address"].split())[2]
    
    crime_station.loc[idx,"lat"] = addr[0]["geometry"]["location"]["lat"]
    crime_station.loc[idx,"lng"] = addr[0]["geometry"]["location"]["lng"]
crime_station.head()

죄종       강간           강도          살인           절도              폭력          \
발생검거     검거     발생    검거    발생    검거   발생      검거      발생      검거      발생
구분
강남    269.0  339.0  26.0  24.0   3.0  3.0  1129.0  2438.0  2096.0  2336.0
강동    152.0  160.0  13.0  14.0   5.0  4.0   902.0  1754.0  2201.0  2530.0
강북    159.0  217.0   4.0   5.0   6.0  7.0   672.0  1222.0  2482.0  2778.0
강서    239.0  275.0  10.0  10.0  10.0  9.0  1070.0  1952.0  2768.0  3204.0
관악    264.0  322.0  10.0  12.0   7.0  6.0   937.0  2103.0  2707.0  3235.0

죄종     구별        lat         lng
발생검거
구분
강남    강남구  37.509435  127.066958
강동    강동구  37.528511  127.126822
강북    강북구  37.637304  127.027340
강서    강서구  37.551246  126.849963
관악    관악구  37.474395  126.951349

In [10]:
# crime_stations의 attribute 행 길이는 13
# crime_station의 0행,1행내용 합치기 ex) 강간+검거
len(crime_station.columns)
crime_station.columns = [crime_station.columns[i][0]+crime_station.columns[i][1] for i in range(len(crime_station.columns))]
crime_station.head()

,강간검거,강간발생,강도검거,강도발생,살인검거,살인발생,절도검거,절도발생,폭력검거,폭력발생,구별,lat,lng
구분,,,,,,,,,,,,,
강남,269.0,339.0,26.0,24.0,3.0,3.0,1129.0,2438.0,2096.0,2336.0,강남구,37.509435,127.066958
강동,152.0,160.0,13.0,14.0,5.0,4.0,902.0,1754.0,2201.0,2530.0,강동구,37.528511,127.126822
강북,159.0,217.0,4.0,5.0,6.0,7.0,672.0,1222.0,2482.0,2778.0,강북구,37.637304,127.027340
강서,239.0,275.0,10.0,10.0,10.0,9.0,1070.0,1952.0,2768.0,3204.0,강서구,37.551246,126.849963
관악,264.0,322.0,10.0,12.0,7.0,6.0,937.0,2103.0,2707.0,3235.0,관악구,37.474395,126.951349

In [11]:
# 데이터 저장 02. crime_in_Seoul_raw.csv ## ,로 구분 및 utf-8 인코딩
crime_station.to_csv("../data/02. crime_in_Seoul_raw.csv", sep=",", encoding="utf-8")

---

In [12]:
# crime_anal_station에 데이터 읽어오기 
## 02. crime_in_Seoul_raw.csv  utf-8 인코딩 및 인덱스컬럼은 '구분'
crime_anal_station = pd.read_csv("../data/02. crime_in_Seoul_raw.csv", encoding="utf-8", index_col="구분")
crime_anal_station.head()

,강간검거,강간발생,강도검거,강도발생,살인검거,살인발생,절도검거,절도발생,폭력검거,폭력발생,구별,lat,lng
구분,,,,,,,,,,,,,
강남,269.0,339.0,26.0,24.0,3.0,3.0,1129.0,2438.0,2096.0,2336.0,강남구,37.509435,127.066958
강동,152.0,160.0,13.0,14.0,5.0,4.0,902.0,1754.0,2201.0,2530.0,강동구,37.528511,127.126822
강북,159.0,217.0,4.0,5.0,6.0,7.0,672.0,1222.0,2482.0,2778.0,강북구,37.637304,127.027340
강서,239.0,275.0,10.0,10.0,10.0,9.0,1070.0,1952.0,2768.0,3204.0,강서구,37.551246,126.849963
관악,264.0,322.0,10.0,12.0,7.0,6.0,937.0,2103.0,2707.0,3235.0,관악구,37.474395,126.951349

In [13]:
# crime_anal_gu 
## crime_anal_station 으로 pivot_table 생성
## 인덱스는 구별, agggfunc는 합
## 위도,경도는 삭제
crime_anal_gu = crime_anal_station.pivot_table(
    index = "구별",
    aggfunc = np.sum
)
crime_anal_gu.head()
del crime_anal_gu["lat"]
crime_anal_gu.drop("lng", axis=1,inplace=True)
crime_anal_gu.head()

      강간검거   강간발생  강도검거  강도발생  살인검거  살인발생    절도검거    절도발생    폭력검거    폭력발생
구별
강남구  413.0  516.0  42.0  39.0   5.0   5.0  1918.0  3587.0  3527.0  4002.0
강동구  152.0  160.0  13.0  14.0   5.0   4.0   902.0  1754.0  2201.0  2530.0
강북구  159.0  217.0   4.0   5.0   6.0   7.0   672.0  1222.0  2482.0  2778.0
강서구  239.0  275.0  10.0  10.0  10.0   9.0  1070.0  1952.0  2768.0  3204.0
관악구  264.0  322.0  10.0  12.0   7.0   6.0   937.0  2103.0  2707.0  3235.0

In [14]:
# 강도검거, 살인검거 컬럼을 강도발생 컬럼으로 나누기 
## div, axis
# div 사용해서 강간검거율 ... 폭력검거율 컬럼 생성 후
## '검거' 컬럼들 삭제
crime_anal_gu[["강도검거","살인검거"]].div(crime_anal_gu["강도발생"], axis=0).head()

target = ["강간검거율","강도검거율","살인검거율","절도검거율","폭력검거율"]
num  = ["강간검거","강도검거","살인검거","절도검거","폭력검거"]
den  = ["강간발생","강도발생","살인발생","절도발생","폭력발생"]

crime_anal_gu[target] = crime_anal_gu[num].div(crime_anal_gu[den].values) * 100


del crime_anal_gu["강간검거"]
del crime_anal_gu["강도검거"]
del crime_anal_gu["살인검거"]
del crime_anal_gu["절도검거"]
del crime_anal_gu["폭력검거"]

crime_anal_gu

,강간발생,강도발생,살인발생,절도발생,폭력발생,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,516.0,39.0,5.0,3587.0,4002.0,80.038760,107.692308,100.000000,53.470867,88.130935
강동구,160.0,14.0,4.0,1754.0,2530.0,95.000000,92.857143,125.000000,51.425314,86.996047
강북구,217.0,5.0,7.0,1222.0,2778.0,73.271889,80.000000,85.714286,54.991817,89.344852
강서구,275.0,10.0,9.0,1952.0,3204.0,86.909091,100.000000,111.111111,54.815574,86.392010
관악구,322.0,12.0,6.0,2103.0,3235.0,81.987578,83.333333,116.666667,44.555397,83.678516
광진구,279.0,11.0,4.0,2636.0,2392.0,83.870968,54.545455,100.000000,40.098634,84.071906
구로구,273.0,10.0,9.0,1910.0,3164.0,66.300366,130.000000,100.000000,45.078534,84.702908
금천구,175.0,7.0,6.0,1264.0,2193.0,81.714286,100.000000,100.000000,51.740506,88.736890
노원구,159.0,6.0,5.0,1857.0,2516.0,89.308176,150.000000,120.000000,39.849219,84.419714
도봉구,123.0,5.0,3.0,866.0,1441.0,98.373984,100.000000,100.000000,56.812933,90.839695
동대문구,190.0,10.0,5.0,1940.0,2642.0,83.157895,120.000000,100.000000,55.206186,89.969720
동작구,325.0,7.0,8.0,1226.0,1661.0,45.846154,100.000000,75.000000,45.187602,86.935581
마포구,399.0,4.0,4.0,2527.0,2939.0,80.200501,175.000000,100.000000,37.198259,85.062947
서대문구,175.0,5.0,6.0,1503.0,1976.0,84.000000,80.000000,116.666667,50.033267,83.198381
서초구,428.0,13.0,5.0,2205.0,2338.0,63.317757,76.923077,100.000000,50.204082,86.783576
성동구,104.0,3.0,4.0,1296.0,1619.0,75.000000,166.666667,125.000000,69.135802,86.967264
성북구,154.0,8.0,4.0,1470.0,2108.0,75.974026,100.000000,75.000000,49.319728,86.290323
송파구,234.0,15.0,9.0,2543.0,3289.0,78.632479,80.000000,88.888889,41.211168,85.375494
양천구,131.0,7.0,5.0,1719.0,2250.0,82.442748,100.000000,100.000000,43.920884,85.244444
영등포구,356.0,19.0,13.0,2341.0,3593.0,63.202247,73.684211,100.000000,40.153780,83.690509
용산구,251.0,9.0,4.0,1489.0,2384.0,85.258964,111.111111,100.000000,40.228341,84.228188
은평구,156.0,9.0,6.0,1666.0,2664.0,91.025641,77.777778,100.000000,53.421369,86.636637
종로구,238.0,12.0,6.0,1940.0,2263.0,74.369748,75.000000,33.333333,39.587629,87.361909
중구,198.0,8.0,3.0,2150.0,2225.0,74.747475,87.500000,100.000000,42.511628,89.707865
중랑구,164.0,14.0,8.0,1691.0,3164.0,91.463415,100.000000,87.500000,62.211709,85.714286

In [15]:
# 검거율 100이상은 100으로 설정
# 컬럼명 강간발생 >> 강간
crime_anal_gu[ crime_anal_gu[target]>100 ] = 100
crime_anal_gu.head()

crime_anal_gu.rename(
    columns={
        "강간발생": "강간",
        "강도발생": "강도",
        "살인발생": "살인",
        "절도발생": "절도",
        "폭력발생": "폭력",
    }, inplace=True
)
crime_anal_gu.head()

,강간,강도,살인,절도,폭력,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,516.0,39.0,5.0,3587.0,4002.0,80.038760,100.000000,100.000000,53.470867,88.130935
강동구,160.0,14.0,4.0,1754.0,2530.0,95.000000,92.857143,100.000000,51.425314,86.996047
강북구,217.0,5.0,7.0,1222.0,2778.0,73.271889,80.000000,85.714286,54.991817,89.344852
강서구,275.0,10.0,9.0,1952.0,3204.0,86.909091,100.000000,100.000000,54.815574,86.392010
관악구,322.0,12.0,6.0,2103.0,3235.0,81.987578,83.333333,100.000000,44.555397,83.678516

---

In [16]:
# 5대 범죄 최대값으로 나누어 정규화
## crime_anal_norm 에 저장
### col = ["강간","강도","살인","절도","폭력"]
## crime_anal_gu 에서 검거율 복사
### col2 = ["강간검거율","강도검거율","살인검거율","절도검거율","폭력검거율"]
col = ["강간","강도","살인","절도","폭력"]
crime_anal_norm = crime_anal_gu[col] / crime_anal_gu[col].max() * 100
crime_anal_norm.head() 
col2 = ["강간검거율","강도검거율","살인검거율","절도검거율","폭력검거율"]
crime_anal_norm[col2] = crime_anal_gu[col2]
crime_anal_norm.head()

,강간,강도,살인,절도,폭력,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율
구별,,,,,,,,,,
강남구,100.000000,100.000000,38.461538,100.000000,100.000000,80.038760,100.000000,100.000000,53.470867,88.130935
강동구,31.007752,35.897436,30.769231,48.898801,63.218391,95.000000,92.857143,100.000000,51.425314,86.996047
강북구,42.054264,12.820513,53.846154,34.067466,69.415292,73.271889,80.000000,85.714286,54.991817,89.344852
강서구,53.294574,25.641026,69.230769,54.418734,80.059970,86.909091,100.000000,100.000000,54.815574,86.392010
관악구,62.403101,30.769231,46.153846,58.628380,80.834583,81.987578,83.333333,100.000000,44.555397,83.678516

In [17]:
# 구별 CCTV 자료에서 인구수와 CCTV수 추가
# result_CCTV로 ../data/01. CCTV_result.csv 
## 인덱스 '구별' 인코딩 utf-8
# 구별 CCTV 자료에서 인구수와 CCTV수 추가
result_CCTV = pd.read_csv("../data/01. CCTV_result.csv", index_col="구별", encoding="utf-8")
result_CCTV.head(2)

crime_anal_norm[["인구수","CCTV"]] = result_CCTV[["인구수","소계"]]
crime_anal_norm.head(2)

,강간,강도,살인,절도,폭력,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율,인구수,CCTV
구별,,,,,,,,,,,,
강남구,100.000000,100.000000,38.461538,100.000000,100.000000,80.03876,100.000000,100.0,53.470867,88.130935,561052,3238
강동구,31.007752,35.897436,30.769231,48.898801,63.218391,95.00000,92.857143,100.0,51.425314,86.996047,440359,1010

In [18]:
# 5대범죄 전체 평균으로 crime_anal_norm에 범죄 컬럼 생성
## 최종결과값 crime_anal_norm
crime_anal_norm["범죄"] = np.mean(crime_anal_norm[col], axis=1)
crime_anal_norm.head(2)

crime_anal_norm

,강간,강도,살인,절도,폭력,강간검거율,강도검거율,살인검거율,절도검거율,폭력검거율,인구수,CCTV,범죄
구별,,,,,,,,,,,,,
강남구,100.000000,100.000000,38.461538,100.000000,100.000000,80.038760,100.000000,100.000000,53.470867,88.130935,561052,3238,87.692308
강동구,31.007752,35.897436,30.769231,48.898801,63.218391,95.000000,92.857143,100.000000,51.425314,86.996047,440359,1010,41.958322
강북구,42.054264,12.820513,53.846154,34.067466,69.415292,73.271889,80.000000,85.714286,54.991817,89.344852,328002,831,42.440738
강서구,53.294574,25.641026,69.230769,54.418734,80.059970,86.909091,100.000000,100.000000,54.815574,86.392010,608255,911,56.529015
관악구,62.403101,30.769231,46.153846,58.628380,80.834583,81.987578,83.333333,100.000000,44.555397,83.678516,520929,2109,55.757828
광진구,54.069767,28.205128,30.769231,73.487594,59.770115,83.870968,54.545455,100.000000,40.098634,84.071906,372298,878,49.260367
구로구,52.906977,25.641026,69.230769,53.247839,79.060470,66.300366,100.000000,100.000000,45.078534,84.702908,441559,1884,56.017416
금천구,33.914729,17.948718,46.153846,35.238361,54.797601,81.714286,100.000000,100.000000,51.740506,88.736890,253491,1348,37.610651
노원구,30.813953,15.384615,38.461538,51.770282,62.868566,89.308176,100.000000,100.000000,39.849219,84.419714,558075,1566,39.859791
도봉구,23.837209,12.820513,23.076923,24.142738,36.006997,98.373984,100.000000,100.000000,56.812933,90.839695,346234,825,23.976876
동대문구,36.821705,25.641026,38.461538,54.084193,66.016992,83.157895,100.000000,100.000000,55.206186,89.969720,366011,1870,44.205091
동작구,62.984496,17.948718,61.538462,34.178980,41.504248,45.846154,100.000000,75.000000,45.187602,86.935581,408493,1302,43.630981
마포구,77.325581,10.256410,30.769231,70.448843,73.438281,80.200501,100.000000,100.000000,37.198259,85.062947,385783,980,52.447669
서대문구,33.914729,12.820513,46.153846,41.901310,49.375312,84.000000,80.000000,100.000000,50.033267,83.198381,325028,1254,36.833142
서초구,82.945736,33.333333,38.461538,61.471982,58.420790,63.317757,76.923077,100.000000,50.204082,86.783576,445401,2297,54.926676
성동구,20.155039,7.692308,30.769231,36.130471,40.454773,75.000000,100.000000,100.000000,69.135802,86.967264,312711,1327,27.040364
성북구,29.844961,20.512821,30.769231,40.981321,52.673663,75.974026,100.000000,75.000000,49.319728,86.290323,455407,1651,34.956399
송파구,45.348837,38.461538,69.230769,70.894898,82.183908,78.632479,80.000000,88.888889,41.211168,85.375494,671173,1081,61.223990
양천구,25.387597,17.948718,38.461538,47.923055,56.221889,82.442748,100.000000,100.000000,43.920884,85.244444,475018,2482,37.188560
영등포구,68.992248,48.717949,100.000000,65.263451,89.780110,63.202247,73.684211,100.000000,40.153780,83.690509,402024,1277,74.550752
용산구,48.643411,23.076923,30.769231,41.511012,59.570215,85.258964,100.000000,100.000000,40.228341,84.228188,244444,2096,40.714158
은평구,30.232558,23.076923,46.153846,46.445498,66.566717,91.025641,77.777778,100.000000,53.421369,86.636637,491202,2108,42.495108
종로구,46.124031,30.769231,46.153846,54.084193,56.546727,74.369748,75.000000,33.333333,39.587629,87.361909,164257,1619,46.735605
중구,38.372093,20.512821,23.076923,59.938667,55.597201,74.747475,87.500000,100.000000,42.511628,89.707865,134593,1023,39.499541
중랑구,31.782946,35.897436,61.538462,47.142459,79.060470,91.463415,100.000000,87.500000,62.211709,85.714286,412780,916,51.084354